body {
    margin: 0px;
    font-family: 'Merriweather', serif;
}


@media screen and (min-width:1000px){
 
    .main {
    height: 700px;
    background-image: url("http://allpicts.in/download/2887/7_Best_Pattern_of_Background_Images_for_Websites_3_Orange.jpg/");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #container{
    height: 700px;
    width: 1000px;
    margin: 0 auto;
    }
}


@media screen and (min-width:320px) and (max-width:999px){
    
    body {
    height: 100%;
    width: 100%;
}
    
    .main {
    height: 100%;
    width: 100%;
    background-image: url("http://allpicts.in/download/2887/7_Best_Pattern_of_Background_Images_for_Websites_3_Orange.jpg/");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #container{
    height: 700px;
    width: 400px;
    margin: 0 auto;
    }
}




.header{
    margin-top: 0px;
    width: 1000px;
    margin: 0 auto
}

.logo {
    float: left;
    margin-top: 10px;
}

nav{
    float: right;
    margin-top: 26px;
}

.navbar {
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

span {
    width: 100%;
}

h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    clear: both;
    padding-top: 200px;
}

h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    clear: both;
    margin-top: -60px;
}

/* Header Section */


#head{
    width: 100%;
    height: 350px;
    background-image: url("http://allpicts.in/download/2887/7_Best_Pattern_of_Background_Images_for_Websites_3_Orange.jpg/");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.port {
    padding-top: 75px;
}

.portfolio {
    width: 300px;
    height: 250px;
}

.padding {
    padding-left: 45px;
}


.one {
    margin-top: 35px;
}

.two {
    margin-top: 35px;
}

.three {
    margin-top: 35px;
}

.four {
    margin-top: 35px;
}