body {
    margin: 0px;
    font-family: 'Merriweather', serif;
}

html {
    background: url("http://allpicts.in/download/2887/7_Best_Pattern_of_Background_Images_for_Websites_3_Orange.jpg/") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
    
}

@media screen and (min-width:1000px){
    #container{
    height: 700px;
    width: 1000px;
    margin: 0 auto;
    }
}


.header{
    margin-top: 0px;
    width: 100%;
}

.logo {
    float: left;
    margin-top: 10px;
}

.nav{
    float: right;
    margin-top: 26px;
    
}

.navbar {
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

span {
    width: 100%
}

h1 {
    font-size: 80px;
    color:  #fff;
    text-align: center;
    clear: both;
    padding-top: 200px;
}

h2 {
    font-size: 30px;
    color:  #fff;
    text-align: center;
    clear: both;
    margin-top: -50px;
}